/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  p {
    color: #666;
    line-height: 1.5;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button.submit-btn {
    background-color: #ff8c00;
  }
  
  /* Estilos para as divs das perguntas */
  .question {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .question p {
    margin-bottom: 10px;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .options input[type="radio"] {
    display: none;
  }
  
  .options label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .options input[type="radio"]:checked + label {
    background-color: #ff8c00;
    color: #fff;
  }
  
  .options input[type="radio"]:focus + label {
    outline: 2px solid #ff8c00;
  }
  
  /* Estilos para o resultado e lista de checkboxes */
  #result {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #checkbox-list {
    margin-top: 20px;
  }
  