body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
  margin: 20px auto;
  width: 306px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 36px;
  cursor: pointer;
}
button {
  font-weight: bold;
  width: 100px;
  height: 40px;
  border: 1px solid #ccc;
  background-color: #fff;
}
#dificuldade input[type="radio"] {
  display: none;
}

#dificuldade label {
  display: inline-block;
  padding-top: 5px;
  width: 50px;
  height: 25px;
  border: 1px solid #ccc;
  background-color: #fff; /* Cor de fundo padrão */
}

#facil:checked + label {
  background-color: #0f0; /* Cor de fundo verde quando marcado */
}

#medio:checked + label {
  background-color: #ff0; /* Cor de fundo amarelo quando marcado */
}

#dificil:checked + label {
  background-color: #f00; /* Cor de fundo vermelho quando marcado */
}
.win-cell {
  background-color: #0f0; /* Cor de fundo para células vencedoras */
  color: #fff; /* Cor do texto para células vencedoras */
  font-weight: bold; /* Estilo de fonte para células vencedoras */
}