body {
    font-family: Arial, sans-serif;
    text-align: center;
  
}
#pontuacao_box{
  text-align: left;
}

#hangman-container {
      margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  font-size:20pt;
}

#word-container {
     margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  font-size:25pt;
  margin-bottom:10px;
}

#letters-container {
      margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  margin-bottom:10px;
  
}
.keyboard {
    border-collapse: collapse;
}

.letter {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #fff;
}

.letter:hover {
    background-color: #ddd;
    cursor: pointer;
}

.empty {
    width: 40px;
}
button{
  font-weight: bold;
   width: 100px;
    height: 40px;
  border: 1px solid #ccc;
    background-color: #fff;
}
#proxima:hover{
  background-color: #9363f4;
}
#reiniciar:hover{
  background-color: #f8d0a8;
}
table{
 border-collapse: collapse;
  border-spacing: 0px;
}
.forca {
            padding: 0; /* Removendo espaçamento interno */
  height: 25px;
          line-height: 25px;
        }

        #cabeca, #tronco, #pernas {
            font-size: 25pt;
            margin: 0; /* Removendo espaçamento externo */
            padding: 0; /* Removendo espaçamento interno */
            width: 25px;
            height: 25px;
          line-height: 25px;
        }
.configuracao{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #9363f4;
  top:0;
  left:0;
  transition: 2s;

  overflow: hidden;
  background-color: #ffffff;  
  text-align: center;
}
h1 {
  color: #333333;
}

.label {
  font-size: 14px;
  color: #555555;
}

.input-field {
  width: 90%;
  max-width: 250px;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.range-slider {
  width: 90%;
  max-width: 250px;
}

.word-count, .record {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.start-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.start-button:hover {
  background-color: #0056b3;
}

.word-management {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
  margin-top: 20px;
}

.word-management h2 {
  color: #333333;
  margin-bottom: 10px;
}

.word-management label {
  display: block;
  margin-bottom: 5px;
  color: #555555;
}

.word-management .input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.word-management #adicionar_palavra, .word-management #remover_palavra_button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.word-management #adicionar_palavra:hover, .word-management #remover_palavra_button:hover {
  background-color: #0056b3;
}